@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans:
        /* 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; */
        ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.87 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.87 0 0);
}

.dark {
    --background: #272728;
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.145 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.145 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.985 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --border: oklch(0.269 0 0);
    --input: oklch(0.269 0 0);
    --ring: oklch(0.439 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: #212122;
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.985 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.269 0 0);
    --sidebar-ring: oklch(0.439 0 0);
}

:root {
    --text-primary: #34322d;
    --text-secondary: #535350;
    --text-tertiary: #858481;
    --text-disable: #b9b9b7;
    --text-brand: #0081f2;
    --text-onblack: #fff;
    --text-white: #fff;
    --text-white-tsp: #ffffff99;
    --theme-text-primary: #262626;
    --logo-color: #34322d;
    --text-shining: #e5e5e5;
    --background-gray-main: #f8f8f7;
    --background-white-main: #fff;
    --background-menu-white: #fff;
    --background-tsp-menu-white: #ffffff14;
    --background-tsp-card-gray: #37352f0a;
    --background-nav: #ebebeb;
    --background-card: #fafafa;
    --background-mask: #000000a6;
    --background-card-gray: #fafafa;
    --background-preview-mask: #000000d9;
    --border-main: #0000000f;
    --border-white: #ffffff33;
    --border-btn-main: #0000001f;
    --border-input-active: #0081f280;
    --border-light: #0000000a;
    --border-dark: #0000001f;
    --border-primary: #4f59661f;
    --icon-primary: #34322d;
    --icon-secondary: #535350;
    --icon-tertiary: #858481;
    --icon-disable: #b9b9b7;
    --icon-brand: #0081f2;
    --icon-onblack: #fff;
    --icon-white: #fff;
    --icon-white-tsp: #ffffff99;
    --function-error: #f25a5a;
    --function-success: #25ba3b;
    --function-warning: #efa201;
    --function-error-tsp: #f25a5a14;
    --function-warning-tsp: #efa2011f;
    --fill-blue: #0081f214;
    --fill-tsp-white-main: #37352f0f;
    --fill-tsp-white-dark: #37352f14;
    --fill-tsp-white-light: #37352f0a;
    --fill-tsp-gray-dark: #37352f14;
    --fill-tsp-gray-main: #37352f0a;
    --fill-white: #fff;
    --fill-black: #28282973;
    --fill-gray: #f8f8f7;
    --Button-primary-black: #1a1a19;
    --Button-primary-white: #fff;
    --Button-primary-brand: #0081f2;
    --Button-primary-brand-disabled: #7cbdf5;
    --Button-secondary-brand: #0081f21a;
    --Button-secondary-error-border: #f25a5a80;
    --Button-secondary-error-fill: #fff;
    --Button-secondary-main: #fff;
    --Button-secondary-gray: #37352f0f;
    --tab-fill: rgba(0,0,0,.04);
    --tab-active-black: #1a1a19;
    --shadow-L: #0000003d;
    --shadow-M: #0000001f;
    --shadow-S: #00000014;
    --shadow-XS: #0000000f;
    --shadows-inner-0: #ffffff00;
    --shadows-inner-1: #16191d14;
    --shadows-inner-2: #16191d1f;
    --shadows-drop-1: #16191d08;
    --shadows-drop-2: #16191d0a;
    --shadows-drop-3: #16191d14;
    --shadows-drop-4: #16191d1f;
    --shadows-highlight-1: #cce5ff;
    --shadows-highlight-2: #1487fa;
    --shadows-danger-1: #fed7d7;
    --shadows-danger-2: #ee3a3a;
    --shadows-card-border: #16191d1f;
    --shadows-card-border-2: #16191d1f;
    --Tooltips-main: #000000e6;
    --gradual-white-0: #ffffff00;
    --gradual-gray-100: #ffffff00;
    --gradual-gray-0: #ffffff00;
    --gradual-dark-20: #00000033;
    --fill-input-chat: #fff;
    --gradient-bg-mask-gray-0: #eaeaeb00
}

.dark {
    --text-primary: #dadada;
    --text-secondary: #acacac;
    --text-tertiary: #7f7f7f;
    --text-disable: #5f5f5f;
    --text-brand: #1a93fe;
    --text-onblack: #000000e6;
    --text-white: #fff;
    --text-white-tsp: #ffffff99;
    --theme-text-primary: #dbdbdb;
    --logo-color: #dadada;
    --text-shining: #474747;
    --background-gray-main: #272728;
    --background-white-main: #161618;
    --background-menu-white: #383739;
    --background-tsp-menu-white: #ffffff0f;
    --background-tsp-card-gray: #ffffff0f;
    --background-nav: #212122;
    --background-card: #383739;
    --background-mask: #000000a6;
    --background-card-gray: #383739;
    --background-preview-mask: #000000d9;
    --border-main: #ffffff14;
    --border-white: #00000014;
    --border-btn-main: #ffffff1a;
    --border-input-active: #1a93fe80;
    --border-light: #ffffff0f;
    --border-dark: #ffffff29;
    --border-primary: #56565f52;
    --icon-primary: #dadada;
    --icon-secondary: #acacac;
    --icon-tertiary: #7f7f7f;
    --icon-disable: #5f5f5f;
    --icon-brand: #1a93fe;
    --icon-onblack: #000000d9;
    --icon-white: #fff;
    --icon-white-tsp: #ffffff99;
    --function-error: #eb4d4d;
    --function-success: #5eb92d;
    --function-warning: #ffbf36;
    --function-error-tsp: #eb4d4d14;
    --function-warning-tsp: #ffbf361f;
    --fill-blue: #1a93fe1f;
    --fill-tsp-white-main: #ffffff0f;
    --fill-tsp-white-dark: #ffffff1f;
    --fill-tsp-white-light: #ffffff0a;
    --fill-tsp-gray-dark: #00000047;
    --fill-tsp-gray-main: #00000033;
    --fill-white: #3e3d3e;
    --fill-black: #28282973;
    --fill-gray: #444345;
    --Button-primary-black: #fff;
    --Button-primary-white: #ffffff14;
    --Button-primary-brand: #1a93fe;
    --Button-primary-brand-disabled: #215d93;
    --Button-secondary-brand: #1a93fe1f;
    --Button-secondary-error-border: #eb4d4d29;
    --Button-secondary-error-fill: #eb4d4d1f;
    --Button-secondary-main: #ffffff1f;
    --Button-secondary-gray: #ffffff0f;
    --tab-fill: hsla(0,0%,100%,.06);
    --tab-active-black: #fff;
    --shadow-L: #00000066;
    --shadow-M: #0000003d;
    --shadow-S: #00000029;
    --shadow-XS: #0000001f;
    --shadows-inner-0: #ffffff1f;
    --shadows-inner-1: #ffffff14;
    --shadows-inner-2: #ffffff1f;
    --shadows-drop-1: #0000001f;
    --shadows-drop-2: #00000033;
    --shadows-drop-3: #00000047;
    --shadows-drop-4: #0000005c;
    --shadows-highlight-1: #1b61a6;
    --shadows-highlight-2: #1487fa;
    --shadows-danger-1: #8f1919;
    --shadows-danger-2: #ee3a3a;
    --shadows-card-border: #ffffff1f;
    --shadows-card-border-2: #ffffff00;
    --Tooltips-main: #000000e6;
    --gradual-white-0: #27272800;
    --gradual-gray-100: #444345;
    --gradual-gray-0: #44434500;
    --gradual-dark-20: #ffffff33;
    --fill-input-chat: #363537;
    --gradient-bg-mask-gray-0: #1e1e1e00
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    /* Ensure proper height for chat layout */
    html,
    body,
    #app {
        height: 100%;
    }
}


.libre-baskerville {
    font-family: 'Libre Baskerville', serif;
}